
@media all and (max-width: 1024px)
{
    body
    {
        min-height: 100px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    header
    {
        margin-bottom: 5px;
        margin-top: 25px;
    }

   .element
   {
    
       min-height: 100px;
       display: flex;
       flex-direction: column;
    }

    .element:nth-child(1)
    {
        width: 100%;
        order: 1
    }

    .element:nth-child(2)
    {
        width: 100%;
        order: 2
    
    }

    .side
    {
        display: flex;
        list-style: none;
    }

    .photo
    {
        margin-top: 20px;
        width:  75%;
        border: 3px solid;
        border-color: #fff;
        border-radius: 100px;
    }
    
    .photo2
    {
        position: absolute;
        top: -10px;
        left: -10px;
    }

    header
    {
        margin-left: 30%;
    }

    .loisirs 
    {
        min-height: 150px;
    }

    #conteneurIcone
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style: none;
        height: 75%;
    }
    
    
    .sizeIcone
    
    {
        width: 100%;
        border: solid 2px #ffffff;
        border-radius: 100%;
        padding: 14px;
        font-size: 20px;
        list-style-type: none;
    }

    .peinture
    {
        width: 41px
    }

    .kravmaga
    
    {
        width: 41px
    }
    
    .golf
    
    {
        padding: 14px 18px;
        width: 41px
    }
    





}
 

@media (max-width: 640px) 
{
    body
    {
        min-height: 100px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    header 
    {
        margin-left: 0%;
    }

    h1
    {
        font-size: 35px;
        text-align: center;
    }

    h2
    {
        font-size: 20px;
        text-align: center;
    }


    .photo2 
    {
        position: absolute;
        top: 97px;
        left: 20%;
    }

    #menuResponsive
    {
        margin-top: 180px;
        font-size: 14px;
        width: 100%;
        background-color:#f39c12;
        text-align: center;
        margin-bottom: 10px;
        color: #ffffff;
        font-style: normal;
    }

    .menuResponsive
    {
        margin: auto;
        border: solid 1px #ffffff;
    }

    a
    {
        
        font-style: italic;
    }

    a:hover /* Apparence au survol des liens */ 
    {
    color: #D2D2D2;
    }


   .element
   {
    
       min-height: 100px;
       display: flex;
       flex-direction: column;
    }

    .element:nth-child(1)
    {
        width: 100%;
        order: 1
    }

    .element:nth-child(2)
    {
        width: 100%;
        order: 2
    
    }

    .recommandations
    {
        font-size: 75%;
    }

    #competences
        {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-around;

    }

/*
    .photo
    {
        margin-top: 20px;
        width:  75%;
        border: 3px solid;
        border-color: #fff;
        border-radius: 100px;
    }
    
    .photo2
    {
        position: absolute;
        
    }*/

    .side
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #conteneurIcone
{
    /*width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;*/
    width: 41px;
    margin: auto;
    padding: 0;
    height: 41px;
    line-height: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

    
    .sizeIcone
    
    {
        width: 100%;
        border: solid 2px #ffffff;
        border-radius: 100%;
        padding: 14px;
        font-size: 20px;
        list-style-type: none;
        margin: auto;
        
    }
    
    .peinture
    {
        width: 41px
    }


    .kravmaga
    {
        width: 41px
    }
    
    .golf
    {
        padding: 14px 18px;
        width: 41px
    }
    

}

