/*FONTS*/

@font-face {
    font-family: 'quicksanddash';
    src: url('fonts/quicksand/quicksand_dash-webfont.woff2') format('woff2'),
         url('fonts/quicksand/quicksand_dash-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandbold';
    src: url('fonts/quicksand/quicksand-bold-webfont.woff2') format('woff2'),
         url('fonts/quicksand/quicksand-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandbold_italic';
    src: url('fonts/quicksand/quicksand-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/quicksand/quicksand-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'quicksanditalic';
    src: url('fonts/quicksand/quicksand-italic-webfont.woff2') format('woff2'),
         url('fonts/quicksand/quicksand-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'quicksandlight';
    src: url('fonts/quicksand/quicksand-light-webfont.woff2') format('woff2'),
         url('fonts/quicksand/quicksand-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksandlight_italic';
    src: url('fonts/quicksand/quicksand-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/quicksand/quicksand-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksandregular';
    src: url('fonts/quicksand/quicksand-regular-webfont.woff2') format('woff2'),
         url('fonts/quicksand/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*.    /////FONTS///////.        */

/*

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
}
*/

*
{
    font-family: 'quicksandlight_italic', Arial ,sans-serif;
    
}



ul
{
    padding: 0px;
    margin: 0px;
}

.lastdate li
{
     color: red
}


#Golfplus
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#Bivea
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}


#Pixience
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

#Decathlon
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

#DecathlonBis
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

#ERDF
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#OpenClassrooms
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 14px;
}

#ApFormation
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 14px;
}

#ESG
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 14px;
}

.formation
{
    width: 100%;
    list-style: none;
}


section
{
width: 95%;
margin: auto;
list-style-position: inside;
}


h1
{
	color: #000000;
	font-size: 50px;
    margin-left: 15px;
    margin-bottom: 0px;
    
}

.estelle
{
    color: #f39c12;
}

h2
{
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: 60px;
}

.develo
{
    border-bottom:solid 2px #f39c12;
    border-radius: 2px;
    padding-bottom: 5px;

}


.fa-briefcase::before
{
    content: "\f0b1";
    color: #f39c12;
    font-size: 25px;
    margin-right: 20px;
}

.fa-graduation-cap::before
{
    content: "\f19d";
    color: #f39c12;
    font-size: 25px;
    margin-right: 20px;
}

.fa-pencil-alt::before
{
    content: "\f19d";
    color: #f39c12;
    font-size: 25px;
    margin-right: 20px;
}


.date
{
    width: 100%;
    font-weight: bold;
    list-style-type: disc;
}

.lastdate
{
    width: 100%;
    font-weight: bold;
    list-style-type: square;
}

.fonction
{
    width: 100%;
    list-style: none;
}

.Poste
{
    color: rgb(103 169 161);
}

.ville
{
    margin-left: 20px ;
}

.general
{
	color: #000000;
    border-bottom:solid 2px #f39c12;
    padding: 10px;
}

.fas fa-graduation-cap
{
    margin-right: 50px;
}


.description
{
    width: 90%;
    margin: auto;
    padding: px;
    list-style: none;
}

.description2
{
    margin-left: 65px;
    list-style: none;
}


.entreprise
{
	font-style: italic;
}


.photo
{
	margin-top: 20px;
	width: 200px;
	border: 5px solid;
	border-color: #fff;
	border-radius: 100px;
}

.photo2
{
	width: 200px;
	margin: auto;
}


/* Liens */
a 
{
   text-decoration: none;
   font-style: italic;
   color: #ffffff;
}

a:hover /* Apparence au survol des liens */ 
{
   color: #f39c12;
}
/*
a:visited

{
	color: #9E9E9E;
}
*/ 

body

{
	
    display: flex;
}




.element
{
	min-height: 100px;
	padding: 10px;

}

.element:nth-child(1)
{
	width: 70%;
	order: 2
}


.element:nth-child(2)
{
	width: 30%;
    order: 1
   
}


.side
{
	color: #ffffff;
    text-align: center;
    list-style: none;
 
}

.contact
{
    background-color: #f39c12;
    padding: 10px;
	
}


.apropos
{
    background-color: #f1c40f;
    padding: 10px;
	
}

.competences
{
    background-color: #1abc9c;
    padding: 10px;
	
}

.loisirs
{
    background-color: #2ecc71;
    padding: 10px;
	
}


#conteneurIcone
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}


.sizeIcone

{
    border: solid 2px #ffffff;
    border-radius: 100%;
    padding: 14px;
    font-size: 40px;
    list-style-type: none;
}

.kravmaga

{
    width: 41px
}

.golf

{
    padding: 14px 18px;
}






/*

{
}
*/

